/*  */
/*  */

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #555b6e;
  font-family: 'Muli', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #faf9f9;
  text-decoration: none;
  font-size: 2rem;
  display: block;
  margin-bottom: 5px;
}

header {
  background-color: #faf9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.main-title {
  color: #555b6e;
  text-align: center;
  font-size: 6rem;
  padding: 1rem;
  padding-top: 0.5rem;
  animation: title-animation 4s linear infinite;
}

@keyframes title-animation {
  0% {
    color: #ef233c;
  }

  50% {
    color: #2b2d42;
  }

  100% {
    color: #d90429;
  }
}

@media (max-width: 500px) {
  .main-title {
    font-size: 4rem;
  }

  a {
    font-size: 1.5rem;
  }
}
