/*  */
/*  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

button {
  margin-bottom: 100px;
  padding: 5px 10px;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: red;
}

button:active {
  color: blue;
  transform: scale(0.98);
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  height: 30px;
  width: 300px;
}

.progress-done {
  background-image: linear-gradient(135deg, #fff720 10%, #3cd500 100%);
  border-radius: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}
